<!DOCTYPE html>
<html lang="en">

<head>

    {{> header }}

    <script type="text/javascript">
    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            // User is logged in.
            $(".user_name").text(user.displayName);
            if(user.photoURL){
                $(".user_image_url").attr("src", user.photoURL);
            }
        } else {
            // User is not logged in
            console.log("User is not logged in");
            window.location.href = "/login";
        }
        });
  </script>
  
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        {{> navigation }}

        {{> sidebar }}

        <!-- Main Content-->
        {{{body}}}
        <!-- Main Content Ends here-->

        {{> footer }}

    </div>

    {{> footer_scripts }}

</body>

</html>