<!DOCTYPE html>
<html lang="en">

<head>

    {{> header }}
  
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        {{> navigation }}

        {{> sidebar }}

        <!-- Main Content-->
        {{{body}}}
        <!-- Main Content Ends here-->

        {{> footer }}

    </div>

    {{> footer_scripts }}

</body>

</html>