<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{appSettings.appName}}</title>


<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.15.3/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

<!-- update the version number as needed -->
<script src="/__/firebase/9.2.0/firebase-app-compat.js"></script>
<!-- include only the Firebase features as you need -->
<script src="/__/firebase/9.2.0/firebase-auth-compat.js"></script>
<!-- 
    initialize the SDK after all desired features are loaded, set useEmulator to false
    to avoid connecting the SDK to running emulators.
-->
<script src="/__/firebase/init.js?useEmulator=true"></script>

<!-- Custom page specefic JS files --->
<script src="/js/dashboard.js"></script>

<!-- jQuery -->
<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.6.0/dist/jquery.min.js"></script>
