<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="/" class="brand-link">
    <i class="fas fa-feather-alt"></i>
    <span class="brand-text font-weight-light">{{appSettings.appName}}</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="/dashboard/img/avatar5.png" class="img-circle elevation-2 user_image_url" alt="User Image">
    </div>
    <div class="info">
        <a href="/dashboard" class="d-block user_name"></a>
    </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
        <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
        </button>
        </div>
    </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-header">Society Details</li>
        <li class="nav-item">
            <a href="/society" class="nav-link">
                <i class="fas fa-university nav-icon"></i>
                <p>Details</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/apartments" class="nav-link">
                <i class="far fa-building nav-icon"></i>
                <p>Apartments</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/members" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Members</p>
            </a>
        </li>
        <li class="nav-header">Settings</li>
        <li class="nav-item">
            <a href="/settings" class="nav-link">
                <i class="nav-icon fas fa-cogs"></i>
                <p>Settings</p>
            </a>
        </li>
    </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>